*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #ffff
  ;
}

::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: #FFF; 
  }
  
  /* Apply styles to the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #FF4D00; 
    border-radius: 3px; 
  }

